*{
  margin: 0;
  padding: 0;
}
.fira-sans-normal {
    font-family: "Fira Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  /* Nav styles */
  nav ul{
      display: flex;
      margin-right: 100px;
  }
  nav ul li{
    list-style: none;
  }
  nav li a{
    text-decoration: none;
    justify-content: space-evenly;
  }
  .btn{
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 5px;
    padding: 10px 14px 10px 14px;
    font-size: 16px;
    font-family: Work Sans;
    font-weight: 600;
    color: rgb(0, 106, 80);
    }
#paragraph{
    color: rgba(14, 14, 14, 0.5);
    font-size: 16px;
}
#heading{
    font-size: 37px;
}
  #button{
    /* Frame 2 */
    position: static;
    width: 250px;
    height: 36px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 28;
    padding: 8px 16px 8px 16px;
    
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 10px 0px;
    background-color: green;
    color: white;
    border-radius: 5px;
    }

.div-box{
  border: 1px solid white;
  border-radius: 16px;
  background: rgb(198, 228, 214);
  display: flex;
  margin: 10px 20px;
}
.div-future{
  border: 1px solid white;
  display: flex;
  position: static;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0px 14px;
  }
 #div-container1{
  float: left;
  width: 274px;
  height: 215px;
  box-sizing: border-box;
  border-radius: 10px;
  background: rgba(84, 144, 245, 0.2);
  padding: 10px;
 }
#div-container2{
  float: left;
  width: 274px;
  height: 215px;
  border-radius: 10px;
  box-sizing: border-box;
  background: rgb(198, 228, 214);
  padding: 10px;
}
#div-container3{
  float: left;
  width: 274px;
  height: 215px;
  border-radius: 10px;
  box-sizing: border-box;
  background: rgb(247, 235, 207);
  padding: 10px;
}
#learn1{
  border-radius: 5px;
  background: rgb(84, 144, 245);
  color: rgb(255, 255, 255);
  padding: 14px 18px 14px 18px;
  font-family: Work Sans;
  font-size: 12px;
  font-weight: 600;
  line-height: 10px;
  letter-spacing: 0%;
  text-align: center;
  border: none;
  cursor: pointer;
}
#learn2{
  border-radius: 5px;
  background: rgb(9, 161, 92);
  color: rgb(255, 255, 255);
  padding: 14px 18px 14px 18px;
  font-size: 12px;
  font-family: Work Sans;
  font-weight: 600;
  border: none;
}
#learn3{
  border-radius: 5px;
  background: rgb(255, 194, 57);
  color: rgb(255, 255, 255);
  padding: 14px 18px 14px 18px;
  font-size: 12px;
  font-family: Work Sans;
  font-weight: 600;
  border: none;
}

.div-news{
  /* Frame 2087325509 */
position: static;
width: 860px;
height: 270px;
/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
gap: 32;
padding: 20px 30px 20px 30px ;
margin: 10px 20px;
border-radius: 24px;
background: rgb(255, 255, 255);
border: 1px solid black;
}
#satelite1{
  border: 2px solid black;
  width: 270px;
  height: 205px;
  border-radius: 16px;
  display: flex;
}
#satelite2{
  width: 270px;
  height: 205px;
  border-radius: 16px;
  display: flex;
}
.btn-box{
  padding: 14px 18px 14px 18px;
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 12px;
  font-weight: 600;
  line-height: 10px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 5px;
  background: rgb(0, 106, 80);
  border: none;
}
.btn-box:hover{
  background-color: gray;
}
.donate-box{
    padding: 15px 25px;
    border: 1px solid wheat;
    border-radius: 8px;
    background: white;
    font-size: 30px;
    cursor: pointer;
}
.donate-box:hover{
  background-color: aliceblue;
}
.donate-box-color{
  padding:15px 25px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 10px;
  font-size: 30px;
  background: rgb(198, 228, 214);
  cursor: pointer;
}
.donate-box-color:hover{
  background-color: aliceblue;
}
.input{
  margin: 20px auto;
  width: 80%;
  text-align: center;
}
input[type="text"]{
  padding: 10px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
}